<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ice Cream Store Blog</title>
  <link rel="stylesheet" href="/css/styleoverride.css">
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
  

   <script src="https://kit.fontawesome.com/e37a4f46b8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Ice Cream Store Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="bg-red-500 text-white font-bold py-2 px-4">logout</button>
        {{else}}
            <ul class="nav__list">
                <li class=""><a href="/login" class="nav__link">Login</a></li>
            </ul>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="about-us">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                    iure, autem nulla tenetur repellendus.</p>
            </div>
            <div class="newsletter" >
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2022 <a class="social-list__link" href="https://github.com/BurnsD/Ice-cream-store-blog">
                        <i class="fab fa-github"></i>
                    </a>
            </h4>
        </div>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>