{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="txt_field">
    <label for="comment-add">Add Comment</label>
      <input type="text" id="comment-body" name="comment-body" />
  </div>

  <div>
    <input type="submit" value="Add Comment">
    {{!-- <button type="submit">add comment</button> --}}
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}