/* Header Style */
header {
    background: yellow;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    opacity: 100%;
    flex-wrap: wrap;

    z-index: 9999;
}
.nav {
    opacity: 100%;
    color: var(--clr-light);
}
.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
    opacity: 100%;
}

.nav__item {
    margin-left: 5em;
    opacity: 100%;
}

.nav__link {
    color: white;
}
.nav__item:hover {
    color: black;
}

/* End of Header Style */

/* Footer Style */
footer {
    background: rgb(192, 103, 19);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    
    font-weight: var(--fw-bold);
}


.footer__link:hover,
.social-list__link:hover {
    opacity: .75;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}
